In [1]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))
height = float(input("Enter your height : "))

In [2]:
print("My name is {} and my age is {} and my height is {}".format(name, age, height))

My name is Jhon Doe and my age is 50 and my height is 120.0

In [3]:
print(f"My name is {name} and my age is {age} and my height is {height}.")

My name is Jhon Doe and my age is 50 and my height is 120.0.

In [8]:
print("My name is {0:.^10} and my age is {1:.^15} and my height is {2:?^10}".format(name, age, height))

My name is .Jhon Doe. and my age is ......50....... and my height is ??120.0???

***

## F-String

In [10]:
2**10 # 2*2*2*2*2*2*2*2*2*2

1024

In [11]:
a = 12**12
a

8916100448256

In [12]:
print(f"{a}")

8916100448256

In [13]:
print(f"{a:,}")

8,916,100,448,256

In [14]:
from math import pi

In [15]:
pi

3.141592653589793

In [16]:
print(f"The value of pi is {pi}")

The value of pi is 3.141592653589793

In [18]:
print(f"The value of pi is {pi:.2f}")

The value of pi is 3.14

In [19]:
print(f"The value of pi is {pi:.3f}")

The value of pi is 3.142

In [42]:
pi

3.141592653589793

In [23]:
print(f"{pi=}")

pi=3.141592653589793

In [26]:
print(f"{a=:,}")

a=8,916,100,448,256

In [27]:
student_info = {"name": "John", "age": 25, "height": 5.8}

In [28]:
student_info['age']

25

In [29]:
student_info['height']

5.8

In [32]:
print(f"My name is {student_info['name']} and my age is {student_info['age']} and my height is {student_info['height']}")

My name is John and my age is 25 and my height is 5.8

In [33]:
name, age, height

('Jhon Doe', 50, 120.0)

In [34]:
print(f"My name is {name}")
print(f"My age is {age}")
print(f"My height is {height}")

My name is Jhon Doe
My age is 50
My height is 120.0

In [35]:
print(
    f"My name is {name}\n"
    f"My age is {age}\n"
    f"My height is {height}"
)

My name is Jhon Doe
My age is 50
My height is 120.0

In [36]:
a,b,c = 5,34,789

In [39]:
print(f"{a}")
print(f"{b}")
print(f"{c}")

5
34
789

In [43]:
print(f"{a:05}")
print(f"{b:05}")
print(f"{c:05}")

00005
00034
00789

In [41]:
a

5