In [1]:
t = (1,2,3,4,5,6,7,8,9,10)

In [2]:
type(t)

tuple

In [3]:
t[0] = "Python"

TypeError: 'tuple' object does not support item assignment

In [4]:
l = [1,2,3,4,5,6,7,8,9,10]

In [5]:
l[0] = "Python"

In [6]:
l

['Python', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
t[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [26]:
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [8]:
t.count(5)

1

In [10]:
t2 = (1,1,1,2,22,3,3,3,3)

In [12]:
t2.count(1)

3

In [13]:
len(t2)

9

In [14]:
x = (12,34,5,67,0,45,67,77,88)

In [15]:
sum(x)

395

In [16]:
min(x)

0

In [17]:
max(x)

88

In [18]:
t1 = (1,2,3)
t2 = (4,5,6)

In [19]:
t3 = t1+t2

In [20]:
t3

(1, 2, 3, 4, 5, 6)

In [21]:
p = (1,2,3,4,5)
q = (3,4,5,6,7)

In [22]:
z = p+q

In [23]:
z

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [24]:
f = ("Java","Python", 109, 100.67, "C++")

In [25]:
f.index("Python")

1