In [1]:
"My name is {} and I love {} programming.".format("Jhon","Python")

'My name is Jhon and I love Python programming.'

In [2]:
"My name is {} and I love {} programming.".format("Python","Jhon")

'My name is Python and I love Jhon programming.'

In [3]:
f_name = input("Enter your first name: ")
l_name = input("Enter your last name: ")

In [4]:
print("My name is {} {}".format(f_name,l_name))

My name is Jhon Doe

In [8]:
print("My name is {1} {0}".format(f_name,l_name))

My name is Doe Jhon

In [11]:
print("My name is {a} {b}".format(a=f_name,b=l_name))

My name is Jhon Doe

In [12]:
print("My name is {b} {a}".format(a=f_name,b=l_name))

My name is Doe Jhon

In [15]:
"A {} saved is a {} earned.".format("penny","penny")

'A penny saved is a penny earned.'

In [16]:
"A {p} saved is a {p} earned.".format(p="penny")

'A penny saved is a penny earned.'

In [20]:
print("My name is {0:10} {1:20}".format(f_name,l_name))

My name is Jhon       Doe

In [21]:
print("My name is {0:10} and my age is {1:10}".format(f_name,50))

My name is Jhon       and my age is         50

In [22]:
print("My name is {0:>10} and my age is {1:10}".format(f_name,50))

My name is       Jhon and my age is         50

In [23]:
print("My name is {0:>10} and my age is {1:<10}".format(f_name,50))

My name is       Jhon and my age is 50

In [24]:
print("My name is {0:^10} and my age is {1:^10}".format(f_name,50))

My name is    Jhon    and my age is     50

In [28]:
"My name is {0:3} and I love pizza.".format("Rohan")

'My name is Rohan and I love pizza.'

In [31]:
a,b = 12.5,50.567

In [32]:
a, b

(12.5, 50.567)

In [34]:
print("The product of {} and {} is {}".format(a,b,a*b))

The product of 12.5 and 50.567 is 632.0875

In [35]:
print("The product of {0} and {1} is {2:.2f}".format(a,b,a*b))

The product of 12.5 and 50.567 is 632.09

## F-String

In [36]:
name = input("Enter your name : ")
age = int(input("Enter your age : "))
gender = input("Enter your gender : ")

In [37]:
print("My name is {} and my age is {} and Im {}".format(name,age,gender))

My name is Jhon and my age is 50 and Im Male

In [39]:
print(f"My name is {name} and my age is {age} and Im {gender}")

My name is Jhon and my age is 50 and Im Male