# int to float

In [1]:
a = 100

In [2]:
type(a)

int

In [3]:
b = float(a)

In [4]:
b

100.0

In [5]:
type(b)

float

# float to int

In [6]:
x = 100.5

In [7]:
type(x)

float

In [8]:
y = int(x)

In [9]:
y

100

In [10]:
type(y)

int

# int to string

In [11]:
a = 100

In [12]:
b = str(a)

In [13]:
b

'100'

In [14]:
type(a), type(b)

(int, str)

In [15]:
x = 100.7
y = str(x)

In [16]:
y

'100.7'

# String to integer or float

In [17]:
g = "12345"

In [18]:
h = int(g)

In [19]:
h

12345

In [20]:
type(g), type(h)

(str, int)

In [21]:
k = "123.45"

In [22]:
l = float(k)

In [23]:
type(k), type(l)

(str, float)

In [24]:
p = "Python"

In [25]:
q = int(p)

ValueError: invalid literal for int() with base 10: 'Python'

# List to tuple or set

In [29]:
l = [1,2,3,4,5,6]

In [30]:
l

[1, 2, 3, 4, 5, 6]

In [27]:
type(l)

list

In [28]:
t = tuple(l)

In [31]:
t

(1, 2, 3, 4, 5, 6)

In [32]:
type(t)

tuple

In [33]:
s = set(l)

In [34]:
s

{1, 2, 3, 4, 5, 6}

In [35]:
type(s)

set

# Set to list or tuple

In [43]:
s = {1,2,3,4,5,6}

In [44]:
l = list(s)

In [45]:
t = tuple(s)

In [46]:
l

[1, 2, 3, 4, 5, 6]

In [47]:
t

(1, 2, 3, 4, 5, 6)

***

In [48]:
l = [1,2,3,4,5,1,2,3,4,5,6,4,3,2,1,3,4,4]

In [49]:
s = set(l)

In [50]:
l

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 4, 3, 2, 1, 3, 4, 4]

In [51]:
s

{1, 2, 3, 4, 5, 6}